%% NOTE: Tests currently need working APNS certs and token, as well as access
%% to APNS. Since this APNS service provider is deprecated in favor of the
%% HTTP/2 apns_erlv3, no further effort will be expended to mitigate this
%% issue.
%%
%% {sessions, [
%%         [
%%             {name, 'apns-com.example.Example'},
%%             {config, [
%%                     {host, "gateway.push.apple.com"},
%%                     {port, 2195},
%%                     {bundle_seed_id, <<"com.example.Example">>},
%%                     {bundle_id, <<"com.example.Example">>},
%%                     % Production token, should not work on dev
%%                     {fake_token, <<"7e98cae5e190ba6bebf6a71a741a3707c19e1d1bc01e5ea85e111dc0fb2ab28b">>},
%%                     {ssl_opts, [
%%                             {certfile, "certs/com.example.Example.cert.pem"},
%%                             {keyfile, "certs/com.example.Example.key.unencrypted.pem"},
%%                             {versions, ['tlsv1']} % Fix for SSL issue http://erlang.org/pipermail/erlang-questions/2015-June/084935.html
%%                         ]
%%                     }
%%                 ]}
%%         ]
%%     ]
%% }.


